<!doctype html>
<html lang="fr">

<head>
	<title>Invest in Startups</title>
</head>


<body>
	
	<div align="middle">
		<img src="{{url_for('static', filename='img/invest-in-startups.png')}}">

	
    <h1 align="middle" style="color:darkorange;">Tableau de bord</h1>

	<img src="{{url_for('static', filename='img/dashboard.png')}}" alt="dashboard" />
	</div>	

	
	<footer> 
		<div align="middle">
			<br><br>Date d'actuallisation : {{ date }}
		</div>
	</footer> 

</body>
</html>


